global
        debug

defaults
        log global
        mode http
        timeout connect 5000
        timeout client 5000
        timeout server 5000

frontend main
        bind *:80
        default_backend app

backend app
        balance roundrobin
        mode http
        server srv1 192.168.100.48:80 check
        server srv2 192.168.100.49:80 check
        server srv3 192.168.100.50:80 check